.nav a{
    position: absolute;
    left: -50px;
    transition: 0.3s;
    padding-left: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(153 246 228);
    border-radius:  5px 5px 5px 5px ;
    /* z-index: 50; */
}

.nav a:hover {
    left: 0;
    color: orange;
}

#home, #about, #portfolio, #contact, #blog {
  background: rgb(153 246 228);
  background: linear-gradient(0deg, rgba(140,232,247,1) 20%, rgba(255,255,255,1) 100%);
  box-shadow: 16px 12px 12px 0px rgba(120,120,120,0.62);
-webkit-box-shadow: 16px 12px 12px 0px rgba(120,120,120,0.62);
-moz-box-shadow: 16px 12px 12px 0px rgba(120,120,120,0.62);
}

#home {
  top: 20px;
}

#about {
  top: 80px;
}

#portfolio {
  top: 140px;
}

#blog {
  top: 200px;
}

#contact {
    top: 260px;
}