@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    /* @apply bg-gradient-to-b from-gray-500 via-gray-200 to-gray-200 m-0 w-screen */
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

