@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    /* @apply bg-gradient-to-b from-gray-500 via-gray-200 to-gray-200 m-0 w-screen */
    @apply bg-slate-900;
    @apply m-0;
  }


  .parallax-wrapper {
    @apply h-screen overflow-y-auto overflow-x-hidden;
    perspective: 10px;
  } 

  .parallax-wrapper header {
    @apply relative flex justify-center items-center h-screen;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .parallax-wrapper .parallax-item {
    /* @apply absolute object-cover w-screen; */
    @apply absolute object-cover w-screen h-screen;
  }
 
  /* Scale = (Perspective - Translation ) / perspective */
  .parallax-wrapper .translate-z-4 {
    transform: translateZ(-40px) scale(5);
  }
  .parallax-wrapper .translate-z-3 {
    transform: translateZ(-30px) scale(4);
  }
  .parallax-wrapper .translate-z-2 {
    transform: translateZ(-20px) scale(3.);
  }
  .parallax-wrapper .translate-z-1 {
    transform: translateZ(-10px) scale(2);
  }
  .parallax-wrapper .translate-z-0 {
    transform: scale(1.);
  }

}



